{% extends 'base.html.twig' %}

{% block title %}{{ 'title.office.search' | trans }}{% endblock %}

{% block body %}
	{{ include('office/searchFilter.html.twig') }}

   <div class="container-fluid">
      {% if offices is defined %}
      <table id="taula" class="table">
      <thead>
            <tr>
               <th>{{ 'office.code' | trans }}</th>
               <th>{{ 'office.description' | trans }}</th>
               <th>{{ 'office.unitCode' | trans }}</th>
               <th>{{ 'office.unitDescription' | trans }}</th>
            </tr>
      </thead>
      <tbody>
      {% for office in offices %}
            <tr>
               <td>{{ office.code }}</td>
               <td>{{ office.description }}</td>
               <td>{{ office.unitCode }}</td>
               <td>{{ office.unitDescription }}</td>
            </tr>
      {% endfor %}
      </tbody>
      </table>
   {% else %}
      <div class="container alert alert-info m-2 text-center">
         {{'message.no_records' | trans }}
      </div>
   {% endif %}
   </div>
{% endblock %}

{% block stylesheets %}
   {{ parent() }}
   {{ encore_entry_link_tags('office_list') }}
{% endblock %}

{% block javascripts %}
   {{ parent() }}
   {{ encore_entry_script_tags('office_list') }}
{% endblock %}
