{% trans_default_domain 'user_bundle' %}

{% block user_content %}
    <div class="container margin-top-13">
	<div class="col">
	    <div class="container col-lg-5 col-md-5 p-3 border border-info rounded bg-light">
            <form action="{{ path("user_security_login_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

                <div class="form-group">
                <label for="username">{{ 'user.username'| trans | capitalize }}</label>
                <input class="form-control" type="text" id="username" name="username" value="{{ last_username }}" required="required" />
                </div>


                <div class="form-group">
                <label for="password">{{ 'user.password' | trans | capitalize }}</label>
                <input class="form-control" type="password" id="password" name="password" required="required" />
                </div>

                <div class="container-fluid row">
                <div class="container-fuild col text-center">
                    <button type="submit" class="btn btn-primary">{{ 'btn.security.login.submit'| trans | capitalize}}</button>
                </div>
                </div>
            </form>
	    </div>
	</div>
    </div>
{% endblock user_content %}