{% block message %}
	{{ include('common/_messages.html.twig') }}
{% endblock %}

<div class="container-fluid">

	{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
		<div class="row">
			<div class="col">
				{{ form_label(form.description) }}
				{{ form_widget(form.description, {'attr': {'class': 'form-control form-control-sm'}}) }}
			</div>
		</div>			
		<div class="row">
			<div class="col">
				{{ form_label(form.note) }}
				{{ form_widget(form.note, {'attr': {'class': 'form-control form-control-sm'}}) }}
			</div>
		</div>
	{% if is_granted('ROLE_ARCHIVER') %}
		<div id="archiver_fields">
			<div class="row">
				<div class="col-lg-2">
					{{ form_label(form.date) }}
					{{ form_widget(form.date, {'attr': {'class': 'form-control form-control-sm', 'data-controller' : 'datetimepicker', 'data-datetimepicker-format-value': 'yyyy-MM-dd'}}) }}
				</div>
				<div class="col-lg-2">
					{{ form_label(form.askedBy) }}
					{{ form_widget(form.askedBy, {'attr': {'class': 'form-select form-select-sm js-askedBySelect', 'data-controller' : 'select2'}}) }}
				</div>
				<div class="col-lg-2">
					{{ form_label(form.signature) }}
					{{ form_widget(form.signature, {'attr': {'class': 'form-control form-control-sm' }}) }}
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2">
					{{ form_label(form.dateOfLoan) }}
					{{ form_widget(form.dateOfLoan, {'attr': {'class': 'form-control form-control-sm', 'data-controller' : 'datetimepicker', 'data-datetimepicker-format-value': 'yyyy-MM-dd'}}) }}
				</div>
				<div class="col-lg-2">
					{{ form_label(form.dateOfReturn) }}
					{{ form_widget(form.dateOfReturn, {'attr': {'class': 'form-control form-control-sm', 'data-controller' : 'datetimepicker', 'data-datetimepicker-format-value': 'yyyy-MM-dd'}}) }}
				</div>
			</div>
		</div>
	{% endif %}
	<div id="buttons" class="mt-2"> 
		<a href="{{ returnUrl is defined and not returnUrl is empty ? returnUrl : path('loan_index') }}" class="btn btn-secondary">{{ 'btn.cancel' | trans }}</a>
		{% if not readonly %}
			<button class="btn btn-primary"  formnovalidate>{{ 'btn.save' | trans }}</button>
		{% endif %}
	</div>
		{{ form_widget(form._token) }}
		{{ form_end(form, {'render_rest': false}) }}
</div>