<div class="container-fluid" {{ stimulus_controller('loan-form')}}>
   {{ form_start(filter) }}
      <div class="row">
         <div class="col-lg-2">
            {{ form_row(filter.fromDate,{
               'attr': {
                  'class': 'form-control form-control-sm mr-sm-2',
                  'data-controller' : 'datetimepicker', 'data-datetimepicker-format-value': 'yyyy-MM-dd'
               }
            }) }}
         </div>
         <div class="col-lg-2">
            {{ form_row(filter.toDate,{
               'attr': {
                  'class': 'form-control form-control-sm mr-sm-2',
                  'data-controller' : 'datetimepicker', 'data-datetimepicker-format-value': 'yyyy-MM-dd'
               }
            }) }} 

         </div>
         <div class="col-lg-2">
            {{ form_row(filter.fromDateOfLoan,{
               'attr': {
                  'class': 'form-control form-control-sm mr-sm-2',
                  'data-controller' : 'datetimepicker', 'data-datetimepicker-format-value': 'yyyy-MM-dd'
               }
            }) }}
         </div> 
         <div class="col-lg-2">
            {{ form_row(filter.toDateOfLoan,{
               'attr': {
                  'class': 'form-control form-control-sm mr-sm-2',
                  'data-controller' : 'datetimepicker', 'data-datetimepicker-format-value': 'yyyy-MM-dd'
               }
            }) }}
         </div>
         <div class="col-lg-2">
            {{ form_row(filter.fromDateOfReturn,{
               'attr': {
                  'class': 'form-control form-control-sm mr-sm-2',
                  'data-controller' : 'datetimepicker', 'data-datetimepicker-format-value': 'yyyy-MM-dd'
               }
            }) }}
         </div>
         <div class="col-lg-2">
            {{ form_row(filter.toDateOfReturn,{
               'attr': {
                  'class': 'form-control form-control-sm mr-sm-2',
                  'data-controller' : 'datetimepicker', 'data-datetimepicker-format-value': 'yyyy-MM-dd'
               }
            }) }} 
         </div>
      </div>
      <div class="row">
         <div class="col-lg-2">
            {{ form_row(filter.status,{
               'attr': {
                  'class': 'form-select form-select-sm',
               }
            }) }}
            </div>
            <div class="col-lg-3">
            {{ form_row(filter.askedBy,{
               'attr': {
                  'class': 'form-select form-select-sm',
                  'data-controller' : 'select2'
               }
            }) }}
            </div>
            <div class="col-lg-2">
            {{ form_row(filter.signature,{
               'attr': {
                  'class': 'form-control form-control-sm',
               }
            }) }}
            </div>
            <div class="col">
               <button type="submit" class="btn btn-primary btn-md mt-2 float-right">{{ 'btn.search' | trans }}</button>
            </div>
         </div>
      </div>
   {{ form_end(filter) }}
</div>
