<div class="container-fluid" {{ stimulus_controller('loan-form')}}>
   {{ form_start(filter) }}
      <div class="row">
         <div class="col">
            {{ form_label(filter.fromDate) }}&nbsp;
            {{ form_widget(filter.fromDate,{
               'attr': {
                  'class': 'js-datepicker form-control form-control-sm mr-sm-2',
               }
            }) }}
         </div>
         <div class="col">
            {{ form_label(filter.toDate) }}&nbsp;
            {{ form_widget(filter.toDate,{
               'attr': {
                  'class': 'js-datepicker form-control form-control-sm mr-sm-2',
               }
            }) }} 

         </div>
         <div class="col">
            {{ form_label(filter.fromDateOfLoan) }}&nbsp;
            {{ form_widget(filter.fromDateOfLoan,{
               'attr': {
                  'class': 'js-datepicker form-control form-control-sm mr-sm-2',
               }
            }) }}
         </div> 
         <div class="col">
            {{ form_label(filter.toDateOfLoan) }}&nbsp;
            {{ form_widget(filter.toDateOfLoan,{
               'attr': {
                  'class': 'js-datepicker form-control form-control-sm mr-sm-2',
               }
            }) }}
         </div>
         <div class="col">
            {{ form_label(filter.fromDateOfReturn) }}&nbsp;
            {{ form_widget(filter.fromDateOfReturn,{
               'attr': {
                  'class': 'js-datepicker form-control form-control-sm mr-sm-2',
               }
            }) }}
         </div>
         <div class="col">
            {{ form_label(filter.toDateOfReturn) }}&nbsp;
            {{ form_widget(filter.toDateOfReturn,{
               'attr': {
                  'class': 'js-datepicker form-control form-control-sm mr-sm-2',
               }
            }) }} 
         </div>
      </div>
      <div class="row">
         <div class="col">
            {{ form_label(filter.status) }}&nbsp;
            {{ form_widget(filter.status,{
               'attr': {
                  'class': 'form-control form-control-sm mr-sm-2',
               }
            }) }}
            </div>
            <div class="col">
            {{ form_label(filter.askedBy) }}&nbsp;
            {{ form_widget(filter.askedBy,{
               'attr': {
                  'class': 'js-askedBySelect form-control form-control-sm mr-sm-2',
               }
            }) }}
            </div>
            <div class="col">
            {{ form_label(filter.signature) }}&nbsp;
            {{ form_widget(filter.signature,{
               'attr': {
                  'class': 'form-control form-control-sm mr-sm-2',
               }
            }) }}
            </div>
            <div class="col">
            <button type="submit" class="btn btn-primary btn-md mt-2 float-right">{{ 'btn.search' | trans }}</button>
            </div>
         </div>
      </div>
   {{ form_end(filter) }}
</div>
