<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta charset="UTF-8">
        {% block metas %}{% endblock %}
        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body data-turbo="false">
		{% block header %}
			{{ include('common/_header.html.twig') }}
		{% endblock header %}
		{% block menu %}
			{{ include('common/_menu.html.twig') }}
		{% endblock %}
		{% block message %}
            {{ include('common/_messages.html.twig') }}
        {% endblock message %}
        {% block body %}{% endblock %}
    </body>
</html>
