{% trans_default_domain 'user_bundle' %}
{{ form_start(form) }}

<div class="container-fluid m-0">
	<div class="row m-1">
		<div class="col">
			<div class="form-row mt-1">
				<div class="col-2 form-group">
					{{ form_label(form.username) }}
					<span class="text-danger">{{ form_errors(form.username) }}</span>
					{{ form_widget(form.username, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-3 form-group">
					{{ form_label(form.firstName) }}
					<span class="text-danger">{{ form_errors(form.firstName) }}</span>
					{{ form_widget(form.firstName, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
				<div class="col-3 form-group">
					{{ form_label(form.email) }}
					<span class="text-danger">{{ form_errors(form.email) }}</span>
					{{ form_widget(form.email, {'attr': {'class': 'form-control form-control-sm'}}) }}
				</div>
                <div class="col-1 form-group form-check form-check-inline align-items-end">
                  {{ form_label(form.activated) }}
                  <span class="text-danger">{{ form_errors(form.activated) }}</span>
                  {{ form_widget(form.activated, {'attr': {'class': 'form-check-input form-control form-control-sm'}}) }}
                </div>                
			</div>
			<div class="form-row">
				{% if not readonly and password_change %}
					<div class="col-2 form-group">
					{{ form_label(form.password.first) }}
					<span class="text-danger">{{ form_errors(form.password.first) }}</span>
					{{ form_widget(form.password.first, {'attr': {'class': 'form-control form-control-sm'}}) }}
					{{ form_label(form.password.second) }}
					{{ form_widget(form.password.second, {'attr': {'class': 'form-control form-control-sm mt-1'}}) }}
					</div>
				{% endif %}
				<div class="col-2 form-group">
					{{ form_label(form.roles) }}
					{{ form_widget(form.roles, {'attr': {'class': 'ml-1 form-control form-control-sm'}}) }}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row justify-content-center mt-2">
{% if not readonly and not new %}
	<button class="btn btn-primary ml-2 js-save" type="button" data-url="{{ path('admin_user_edit', {'id': form.vars.value.id}) }}">{{ "btn.user.save" | trans }}</button>
{% endif %}
{% if new %}
	<button class="btn btn-primary ml-2 js-save" type="submit">{{ "btn.user.save" | trans }}</button>
{% endif %}
	<button class="btn btn-primary ml-2 js-back" type="button" data-url="{{ path('admin_user_list') }}">{{ "btn.user.cancel" | trans }}</button>
</div>

<!-- Token CSRF -->
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false, 
				   'attr': {'class': '',
			       } 
}) }}