{% extends 'base.html.twig' %}
{% trans_default_domain 'http-errors' %}

{% block menu %}{% endblock %}

{% block body %}
    <div class="container alert alert-warning">
        {% set department = department is defined and department is not null ? department : departmentDefault %}
        {% set contactEmail = contactEmail is defined and contactEmail is not null ? contactEmail : contactEmailDefault %}
        {% if department is not null %}
            <h1>{{ 'http.status.401.title' | trans({ '%department%':  department, '%contactEmail%': contactEmail }) }}</h1>
            <p>{{ 'http.status.401.description' | trans({ '%department%': department, '%contactEmail%': contactEmail }) | raw }}</p>
        {% else %}
            <h1>{{ 'http.status.401.title' | trans({ '%department%':  department, '%contactEmail%': contactEmail }) }}</h1>
            <p>{{ 'http.status.401.description.nodepartment' | trans | raw }}</p>
        {% endif %}
        <div><a class="btn btn-primary" href="{{ path('user_security_login_check') }}">{{ 'btn.returnToLoginPage' | trans }}</a></div>
    </div>
{% endblock %}