{% trans_default_domain 'user_bundle' %}
{{ form_start(form) }}

<div class="container-fluid m-0">
	<div class="row m-1 d-flex align-items-center">
		<div class="col-lg-2">
			{{ form_label(form.username) }}
			<span class="text-danger">{{ form_errors(form.username) }}</span>
			{{ form_widget(form.username, {'attr': {'class': 'form-control form-control-sm'}}) }}
		</div>
		<div class="col-lg-3">
			{{ form_label(form.firstName) }}
			<span class="text-danger">{{ form_errors(form.firstName) }}</span>
			{{ form_widget(form.firstName, {'attr': {'class': 'form-control form-control-sm'}}) }}
		</div>
		<div class="col-lg-3">
			{{ form_label(form.email) }}
			<span class="text-danger">{{ form_errors(form.email) }}</span>
			{{ form_widget(form.email, {'attr': {'class': 'form-control form-control-sm'}}) }}
		</div>
		<div class="col-lg-2 form-check form-check-inline">
			{{ form_label(form.activated) }}
			{{ form_widget(form.activated, {'attr': {'class': ''}}) }}
		</div>
	</div>
	<div class="row m-1">
		{% if not readonly and password_change %}
			<div class="col-lg-3">
				{{ form_label(form.password.first) }}
				<span class="text-danger">{{ form_errors(form.password.first) }}</span>
				{{ form_widget(form.password.first, {'attr': {'class': 'form-control form-control-sm', 'data-controller' : 'readonly-remove', 'readonly': "readonly"}}) }}
				{{ form_label(form.password.second) }}
				{{ form_widget(form.password.second, {'attr': {'class': 'form-control form-control-sm mt-1', 'data-controller' : 'readonly-remove', 'readonly': "readonly"}}) }}
			</div>
		{% endif %}
		<div class="col-lg-3">
			{{ form_label(form.roles) }}
			{{ form_widget(form.roles, {'attr': {'class': 'ml-1 form-control form-control-sm'}}) }}
		</div>
	</div>
</div>
<div class="row justify-content-center mt-2 mb-2">
{% if not readonly %}
	<div class="col-lg-auto">
		<button class="btn btn-primary" type="submit">{{ "btn.user.save" | trans }}</button>
	</div>
{% endif %}
	<div class="col-lg-auto">
		<a href="{{ returnUrl is defined and not returnUrl is empty ? returnUrl : path('admin_user_index') }}" class="btn btn-secondary">{{ "btn.user.cancel" | trans }}</a>
	</div>
</div>

<!-- Token CSRF -->
{{ form_widget(form._token) }}
{{ form_end(form, {'render_rest': false, 
				   'attr': {'class': '',
			       } 
}) }}